@use "variables" as *;

.center_screen {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;

    h1 {
        color: $light;
    }
}