@use "variables" as *;

.characters {
    background-color: $light;
    padding: 1rem;
    margin-top: 1rem;

    .results {
        background-color: $dark;
        padding: 2rem;
        color: $light;
        font-size: large;
    }

    .row-cols-5 {

        .col {

            display: flex;
            align-items: stretch;

            .card {
                background-color: $primary;
                text-align: center;
                margin-bottom: 1rem;

                img {
                    max-width: 100%;
                    padding: 1rem;
                }

                h3 {
                    color: $light;
                    margin-bottom: 1rem;
                }

                p {
                    color: $p_grey;
                }

                .status {
                    padding-bottom: 1rem;
                }
            }

        }



    }
}